dataset_test/output/*
MeshroomCache
output
output.zip
dataset_test/input_images
dataset_monstree-master

test.py

.venv
__pycache__
*.pyc
Dockerfile

.vscode
.idea

.env
.env.example

.aiignore
.gitignore

README.md
AGENTS.md   
TODOS.md   