dataset_test/output/*
MeshroomCache
output
output_1
output.zip
dataset_test/input_images
dataset_monstree-master
input_images
dataset_test
template.copy.mg

test.py
simulation.py
convert_img.py
ram_heuristic.py
launch_pod_job.py

.venv
__pycache__
*.pyc
Dockerfile

.vscode
.idea

.env
.env.example

.aiignore
.aiexclude
.gitignore

*.md
docs