dataset_test/output/*
MeshroomCache
output
output.zip
dataset_test/input_images
dataset_monstree-master
input_images
dataset_test
template.copy.mg

test.py
simulation.py
convert_img.py

.venv
__pycache__
*.pyc
Dockerfile

.vscode
.idea

.env
.env.example

.aiignore
.gitignore

README.md
AGENTS.md   
TODOS.md   