dataset_test/output/*
MeshroomCache
output.zip
output
dataset_test/input_images
input_images

test.py
convert_img.py

.venv
__pycache__
*.pyc

.vscode
.idea

.env
.env.example

.aiignore

AGENTS.md   