dataset_test/output/*
MeshroomCache
output.zip
output
dataset_test/input_images
input_images

test.py

.venv
__pycache__
*.pyc
Dockerfile

.vscode
.idea

.env
.env.example

.aiignore
.gitignore

README.md
AGENTS.md   
TODOS.md   